<footer class='footer bg-light'>

    <ul class="menu-footer d-flex justify-content-around">
        <li class="menu-footer-item"><a href="{{ path('program_index') }}">Programme</a></li>
        <li class="menu-footer-item"><a href="{{ path('category_index') }}">Catégories</a></li>
        <li class="menu-footer-item"><a href="#">Qui Sommes-Nous ?</a>
    </ul>
    <p class="text-center">©copyright Wild Series</p>

</footer>
