{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h1>Toutes les séries de la table category : </h1>
    {% for category in categories %}
        <div>
            <p>{{ loop.index }} /  Catégorie : {{ category.name }} </p>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
