{% extends 'base.html.twig' %}

{% block title %} Wild Series - Home {% endblock %}

{% block body %}

    <div class="background-img" style="padding: 200px; color: white; text-shadow: black 0.2em 0.2em 0.2em">

            <h1 style="z-index: 6!important;">Wild Series</h1>
            <h2>{{ default_content }}</h2>
            <div class="">
                <a class="btn btn-danger btn-lg mt-4" href="{{ path('program_index') }}" role="button">Le Programme !</a>
            </div>

    </div>

    <section>


    </section>

{% endblock %}
