{% extends 'base.html.twig' %}

{% block title %}Add Program Form {% endblock %}

{% block body %}

    <h1>Ajouter un programme</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add a program !</button>
    {{ form_end(form) }}

{% endblock %}
