{% extends 'base.html.twig' %}

{% block title %}Add Program Form {% endblock %}

{% block body %}

    <h1>Ajouter un programme</h1>

    <section style="width: 50%">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-danger" type="submit">Add a program !</button>
        {{ form_end(form) }}

    </section>

{% endblock %}
